$grid-columns: 12;
$width: 100%;
$max-width-desktop: 1200px;
$gutter: 30px;

.container {
  width: 100%;
  margin: auto;
  padding-right: $gutter/2;
  padding-left: $gutter/2;
  @media screen and (min-width: 992px) {
    max-width: $max-width-desktop;
  }
}

body {
  width: 100%;
  font-family: sans-serif;
}

h1 {
  font-size: $font-size-xl;
}

h2 {
  font-size: $font-size-large;
}

h3 {
  font-size: $font-size-medium;
  @media only screen and (max-width: 991px) {
    line-height: 30px;
  }
}

a {
  text-decoration: none;
  cursor: pointer;
}

p {
  font-size: $font-size-small;
  line-height: 22px;
}

.primary-color {
  color: $button;
}

.primary-button {
  background-color: $button;
  color: $white;
}

.a-btn {
  border-radius: 20px;
  padding: 10px 20px;
}
