// Font size
$font-size-small: 14px;
$font-size-medium: 16px;
$font-size-large: 20px;
$font-size-xl: 34px;

// Colors
$primary: #ee3b00;
$secondary: #afa5a3;
$dark-background: #171513;
$text-color: #484340;
$gray: #f7f7f7;
$white: #fff;
$black: #000;
