// Font size
$font-size-xs: 8px;
$font-size-small: 10px;
$font-size-medium: 12px;
$font-size-large: 16px;
$font-size-xl: 20px;

// Colors
$primary: #ee3b00;
$secondary: #afa5a3;
$header-bg: #171513;
$white: #fff;
$black: #000;
