.header-wrapper {
  display: flex;
  padding-top: 25px;
  padding-bottom: 25px;

  .site__logo {
    flex-grow: 1;

    @media only screen and (max-width: 991px) {
      text-align: center;
    }
  }
}

.header__menu--desktop {
  @media only screen and (max-width: 991px) {
    display: none;
  }
  ul {
    display: flex;

    li {
      padding: 0 30px 0 15px;
    }
  }
}

.header__button--desktop {
  position: relative;

  .a-btn {
    padding: 10px 20px 10px 45px;
  }

  @media only screen and (max-width: 991px) {
    display: none;
  }
}

.header-button-icon {
  position: absolute;
  left: 20px;
  top: 2px;
}

.header__button--mobile {
  position: relative;
  padding: 10px;

  @media screen and (min-width: 992px) {
    display: none;
  }

  .header-button-icon {
    left: 0;
  }
}

.header {
  background-color: $background;

  .a-link {
    color: $header-footer;
    &:hover {
      color: $button;
    }
  }

  .header__menu--mobile {
    @media screen and (min-width: 992px) {
      display: none;
    }

    ul {
      display: block;
      position: absolute;
      left: 0px;
      top: 0px;
      width: 100%;
      z-index: 2;
      padding: 75px 15px 50px;
      background: #212121;
      transition: all 0s ease -0.5s;

      li {
        padding: 10px 0;
      }
    }

    .a-link {
      color: $white;
    }
  }

  .active,
  .site__logo--text {
    color: $white;
  }

  .site__logo--text {
    text-transform: uppercase;

    span {
      padding: 0 5px;
    }
  }
}

// Hamburger menu
#nav-toggle {
  position: absolute;
  z-index: 3;
  cursor: pointer;
  padding: 10px 30px 16px 0px;
}

#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 3px;
  width: 25px;
  background: white;
  position: absolute;
  display: block;
  content: '';
  transition: all 200ms ease-in-out;
}

#nav-toggle span:before {
  top: -10px;
}

#nav-toggle span:after {
  bottom: -10px;
}

#nav-toggle.active span {
  background-color: transparent;
}

#nav-toggle.active span:before,
#nav-toggle.active span:after {
  top: 0;
}

#nav-toggle.active span:before {
  transform: rotate(45deg);
}

#nav-toggle.active span:after {
  transform: rotate(-45deg);
}
