<div class="container">
  <div class="footer-wrapper">
    <div class="footer__copyright">
      {{ copyright_text }}
    </div>
    <div class="footer__social">
      {{ label }}
      {% for socialIcon in socialIcons %}
        <a href="/">
          {% include "../../00-atoms/00-image/image.html.twig" with socialIcon %}
        </a>
      {% endfor %}
    </div>
  </div>
</div>
