<div class="contact-wrapper">
  <div class="container">
    <div class="contact__details">
      <div class="contact__heading">
        {% include "../../00-atoms/03-heading/heading.html.twig" with headingOne %}
      </div>
      <div class="contact__subheading">
        {% include "../../00-atoms/03-heading/heading.html.twig" with headingTwo %}
      </div>
      {% include "../../01-molecules/02-form/form.html.twig" with form %}
    </div>
  </div>
</div>
