<div class="header__button--desktop">
  {% include "../../00-atoms/00-image/image.html.twig" with image %}
  {% include "../../00-atoms/02-button/button.html.twig" with header_button %}
</div>

<div class="header__button--mobile">
  {% include "../../00-atoms/00-image/image.html.twig" with image %}
</div>
