<div class="header__button--desktop">
  {% include "../../00-atoms/00-image/image.html.twig" with {
    image_base_class: "header-button-icon",
    img_src: "images/header-icon.png",
    img_alt: "header-button-icon"
  } %}
  {% include "../../00-atoms/02-button/button.html.twig" with {
    text: "Get In Touch",
    extra_classes: "primary-button"
  } %}
</div>

<div class="header__button--mobile">
  {% include "../../00-atoms/00-image/image.html.twig" with {
    image_base_class: "header-button-icon",
    img_src: "images/header-icon.png",
    img_alt: "header-button-icon"
  } %}
</div>
