<div class="testimonials-wrapper">
  <div class="container">
    <div class="testimonials">
      <div class="testimonials__heading">
        {% include "../../00-atoms/03-heading/heading.html.twig" with {
          heading_level: 2,
          heading: "Testimonials"
        } %}
      </div>
      <div class="testimonials__content">
        {% set items = [{
          description: 'Mauris at quam at mauris venenatis eleifend. Nullam eleifend odio a pretium dignissim. Aenean non rhoncus quam.',
          client_name: 'CLIENT NAME',
          client_position: 'Position, ORG',
          img_src: 'images/profile-icon.png',
          img_alt: 'testimonials-profile'
        },{
          description: 'Mauris at quam at mauris venenatis eleifend. Nullam eleifend odio a pretium dignissim. Aenean non rhoncus quam. Mauris at quam at mauris venenatis eleifend. Nullam eleifend odio a pretium dignissim.',
          client_name: 'CLIENT NAME',
          client_position: 'Position, ORG',
          img_src: 'images/profile-icon.png',
          img_alt: 'testimonials-profile'
        },{
          description: 'Mauris at quam at mauris venenatis eleifend. Nullam eleifend odio a pretium dignissim. Aenean non rhoncus quam. Mauris at quam at mauris venenatis eleifend.',
          client_name: 'CLIENT NAME',
          client_position: 'Position, ORG',
          img_src: 'images/profile-icon.png',
          img_alt: 'testimonials-profile'
        }]
        %}
        {% include "../../01-molecules/03-testimonial-block/testimonial-block.html.twig" with items %}
      </div>
    </div>
  </div>
</div>
