<div class="testimonials-wrapper">
  <div class="container">
    <div class="testimonials">
      <div class="testimonials__heading">
        {% include "../../00-atoms/03-heading/heading.html.twig" with heading %}
      </div>
      <div class="testimonials__content">
        {% for item in items %}
          <div class="testimonials__content--details">
            <div class="testimonials__message">
              <div class="quotes">
                {{ item.description }}
              </div>
            </div>
            <div class="testimonials__message--icon"></div>
            <div class="testimonials__client">
              {% include "../../00-atoms/00-image/image.html.twig" with item.img %}
              <div class="testimonials__client--details">
                <span class="client-name">{{ item.client_name }}</span>
                <span class="client-position">{{ item.client_position }}</span>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
