<div class="testimonials-wrapper">
  <div class="container">
    <div class="testimonials">
      <div class="testimonials__heading">
        {% include "../../00-atoms/03-heading/heading.html.twig" with {
          heading_level: 3,
          heading: "Testimonials"
        } %}
      </div>
      <div class="testimonials__content">
        <div class="testimonials__content--details">
          <div class="testimonials__message">
            {% include "../../00-atoms/00-image/image.html.twig" with {
              img_src: "images/quotes.png",
              img_alt: "quotes"
            } %}
            {% include "../../00-atoms/04-paragraph/paragraph.html.twig" with {
              paragraph_content: " Mauris at quam at mauris venenatis eleifend. Nullam eleifend odio a pretium dignissim. Aenean non rhoncus quam."
            } %}
          </div>
          <div class="testimonials__message--icon"></div>
          <div class="testimonials__client">
            {% include "../../00-atoms/00-image/image.html.twig" with {
              img_src: "images/profile-icon.png",
              img_alt: "testimonials-profile"
            } %}
            <div class="testimonials__client--details">
              <span class="client-name">CLIENT NAME</span>
              <span class="client-position">Position, ORG</span>
            </div>
          </div>
        </div>
        <div class="testimonials__content--details">
          <div class="testimonials__message">
            {% include "../../00-atoms/00-image/image.html.twig" with {
              img_src: "images/quotes.png",
              img_alt: "quotes"
            } %}
            {% include "../../00-atoms/04-paragraph/paragraph.html.twig" with {
              paragraph_content: " Mauris at quam at mauris venenatis eleifend. Nullam eleifend odio a pretium dignissim. Aenean non rhoncus quam. Mauris at quam at mauris venenatis eleifend. Nullam eleifend odio a pretium dignissim."
            } %}
          </div>
          <div class="testimonials__message--icon"></div>
          <div class="testimonials__client">
            {% include "../../00-atoms/00-image/image.html.twig" with {
              img_src: "images/profile-icon.png",
              img_alt: "testimonials-profile"
            } %}
            <div class="testimonials__client--details">
              <span class="client-name">CLIENT NAME</span>
              <span class="client-position">Position, ORG</span>
            </div>
          </div>
        </div>
        <div class="testimonials__content--details">
          <div class="testimonials__message">
            {% include "../../00-atoms/00-image/image.html.twig" with {
              img_src: "images/quotes.png",
              img_alt: "quotes"
            } %}
            {% include "../../00-atoms/04-paragraph/paragraph.html.twig" with {
              paragraph_content: " Mauris at quam at mauris venenatis eleifend. Nullam eleifend odio a pretium dignissim. Aenean non rhoncus quam. Mauris at quam at mauris venenatis eleifend."
            } %}
          </div>
          <div class="testimonials__message--icon"></div>
          <div class="testimonials__client">
            {% include "../../00-atoms/00-image/image.html.twig" with {
              img_src: "images/profile-icon.png",
              img_alt: "testimonials-profile"
            } %}
            <div class="testimonials__client--details">
              <span class="client-name">CLIENT NAME</span>
              <span class="client-position">Position, ORG</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
