.banner {
  background-image: url('../../images/background-1.png');
}

.banner-wrapper {
  text-align: center;
  padding-top: 110px;
  padding-bottom: 210px;
  color: $white;
}

.banner__images {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.banner__heading {
  max-width: 460px;
  margin: 0 auto;
  padding: 20px 0;
}

img.banner-service {
  width: 65px;
  height: 65px;
  margin-bottom: 10px;
}

.service-wrapper {
  display: flex;
  flex-direction: column;
  padding: 40px 40px;
  align-items: center;
  border: 1px solid #47433f;
  border-radius: 5px;
  margin: 0 10px;

  span {
    padding: 10px 0;
  }
}
