<div class="container">
  <div class="header-wrapper">
    <div class="header__menu--mobile">
      <a id="nav-toggle" href="#"><span></span></a>
      {% include "../../01-molecules/00-menu/menu.html.twig" with items %}
    </div>
    <div class="site__logo">
      <a href="/" class="site__logo--text">Company<span class="primary-color">Logo</span></a>
    </div>
    <div class="header__menu--desktop">
      {% include "../../01-molecules/00-menu/menu.html.twig" with items %}
    </div>
    {% include "../../01-molecules/01-header-button/header-button.html.twig" with button %}
  </div>
</div>
