<div class="container">
  <div class="banner-wrapper">
    <div class="banner__heading">
      {% include "../../00-atoms/03-heading/heading.html.twig" with {
        heading_level: 3,
        heading: "Integer bibendum sit amet arcu vel egestas."
      } %}
    </div>
    <div class="banner__images">
      <div class="service-wrapper">
        {% include "../../00-atoms/00-image/image.html.twig" with {
          image_base_class: "banner-service",
          img_src: "images/service-icon-1.png",
          img_alt: "service-icon-1"
        } %}
        <span>Service Name</span>
      </div>
      <div class="service-wrapper">
        {% include "../../00-atoms/00-image/image.html.twig" with {
          image_base_class: "banner-service",
          img_src: "images/service-icon-1.png",
          img_alt: "service-icon-2"
        } %}
        <span>Service Name</span>
      </div>
      <div class="service-wrapper">
        {% include "../../00-atoms/00-image/image.html.twig" with {
          image_base_class: "banner-service",
          img_src: "images/service-icon-3.png",
          img_alt: "service-icon-3"
        } %}
        <span>Service Name</span>
      </div>
    </div>
  </div>
</div>
