<section class="banner">
  <div class="banner-container">
    <div class="banner-heading">
      Integer bibendum sit amet arcu vel egestas.
    </div>
    <div class="banner-images-wrapper">
      <div class="service-wrapper">
        {% include "../../00-atoms/00-image/image.html.twig" with {
          image_base_class: "banner-service",
          img_src: "images/service-icon-1.png",
          img_alt: "service-icon-1"
        } %}
        <span>Service Name</span>
      </div>
      <div class="service-wrapper">
        {% include "../../00-atoms/00-image/image.html.twig" with {
          image_base_class: "banner-service",
          img_src: "images/service-icon-2.png",
          img_alt: "service-icon-2"
        } %}
        <span>Service Name</span>
      </div>
      <div class="service-wrapper">
        {% include "../../00-atoms/00-image/image.html.twig" with {
          image_base_class: "banner-service",
          img_src: "images/service-icon-3.png",
          img_alt: "service-icon-3"
        } %}
        <span>Service Name</span>
      </div>
    </div>
  </div>
</section>
