<div class="container">
  <div class="banner-wrapper">
    <div class="banner__heading">
      {% include "../../00-atoms/03-heading/heading.html.twig" with heading %}
    </div>
    <div class="banner__images">
      {% for serviceIcon in serviceIcons %}
        <div class="service-wrapper">
          {% include "../../00-atoms/00-image/image.html.twig" with serviceIcon.image %}
          <span>{{ serviceIcon.service_name }}</span>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
